AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CELERY__BROKER_URL=redis://redis:6379/0
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:airflow@postgres/airflow
AIRFLOW__CORE__FERNET_KEY=REPLACE_WITH_GENERATED_FERNET_KEY
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__API__AUTH_BACKENDS=airflow.api.auth.backend.basic_auth

S3_RAW_BUCKET=company-dev-raw
S3_CURATED_BUCKET=company-dev-curated
DBT_TARGET=dev
DBT_PROJECT_DIR=/opt/airflow/dbt
DBT_PROFILES_DIR=/opt/airflow/dbt_profiles
API_BASE_URL=https://example-api.local
ALERT_SLACK_CHANNEL=#airflow-dev
