POSTGRES_DB=airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD=replace_me_locally

MINIO_ROOT_USER=replace_me_locally
MINIO_ROOT_PASSWORD=replace_me_locally

AIRFLOW_USER=replace_me_locally
AIRFLOW_PASSWORD=replace_me_locally
AIRFLOW__CORE__FERNET_KEY=replace_me_locally
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:replace_me_locally@postgres:5432/airflow